{{#if auth}}

    <p>You have successfully logged in!</p>

    {{else}}

    <p> Faz o Login direito, meu patrão!! </p>

    <form action="/loginpostmethod" method="POST">

    <input type="text" name="name">
    <input type="text" name="username">
    <input type="password" name="password">

    <button type="submit">Send</button>

    </form>

{{/if}}
