<form action="/insertinfo" method="POST">

    <input type="text" name="book">
    <input type="text" name="author">
    <input type="text" name="genre">

    <button type="submit">Send Info</button>

</form>