<p>Insert your informations down below:</p>

<form action="/addinfo/completepost" method="POST">

    <input type="text" name="username">
    <input type="text" name="information">
    <button type="submit">Send</button>

</form>